// 신규발행 - 수신인정보
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.new-recipient {
    .company-info,
    .manager-info {
        border: 1px solid $border;
        border-radius: $border-radius;
        background-color: white;
        @include shadow;
    }
    .add-memo {
        width: 100%;
        margin-top: 20px;
    }
    .autocomplete-wrap {
        z-index: 9;
        overflow: hidden;
        position: absolute;
        top: 100%;
        width: 100%;
        margin-top: 8px;
        border: 1px solid $border;
        border-radius: $border-radius;
        background-color: white;
        .autocomplete__section {
            .section__title {
                margin-top: 15px;
                margin-left: 15px;
                margin-bottom: 5px;
                color: $primary;
                font-weight: 700;
                font-size: 12px;
            }
            .autocomplete__item {
                padding: 8px 15px;
                font-weight: 500;
                transition: 0.2s ease-out;
                cursor: pointer;
                &:hover { background-color: $oc-gray-1; }
            }
        }
        .autocomplete__section ~ .autocomplete__section {
            margin-top: 15px;
            border-top: 1px dashed $border;
        }
        .btn-wrap {
            padding: 15px;
            padding-top: 10px;
            .btn--add { width: 100%; }
        }
    }
    // 담당자 정보
    // ––––––––––––––––––––––––––––––––––––––––––––––––––
    .manager-info {
        .component__header {
            border: none; 
            transition: 0.2s ease-out;
            cursor: pointer;
            &:hover { background-color: $oc-gray-0; }
            .arrow {
                display: inline-block;
                width: 10px;
                height: 10px;
                border: 0 solid $oc-gray-9;
                border-width: 0 0 2px 2px;
                transform: rotate(-45deg);
                transition: 0.2s ease-out;
            }
        }
        .component__content { display: none; }
        .btn.btn-outline--danger {
            width: 100%;
            margin-top: 20px;
        }
    }
    .manager-info ~ .btn.btn-outline--primary {
        width: 100%;
        margin-top: 20px;
        border-style: dashed;
    }
    // 담당자 정보 -- 클릭해서 열었을 때
    // ––––––––––––––––––––––––––––––––––––––––––––––––––
    .manager-info.manager-info--open {
        .component__header {
            border-bottom: 1px dashed $border;
            .arrow { transform: translateY(8px) rotate(135deg); }
        }
        .component__content { display: block; }
    }
}

@media (max-width: $mobile-max-width) {
    .new-recipient {
        margin-top: 60px;
        margin-bottom: 50px;
        .six.columns ~ .six.columns { margin-top: 20px; }
    }
}