
$container-width: 940px;
$border-radius: 5px;
$mobile-max-width: 800px;

$cont-width: 1440px;
$mobile-width: 1000px;

// SASS Import
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@import 'ingredients/reset';
@import 'ingredients/open-color';
@import 'ingredients/type';
@import 'ingredients/mixin';
@import 'ingredients/flex';
@import 'ingredients/skeleton';
@import 'components/list';
@import 'components/tag';
@import 'components/nav';
@import 'components/estimate';
@import 'components/mobileEstimate';
@import 'components/estimateInfo';
@import 'components/bottombar';
@import 'components/sidebar';
@import 'components/btn';
@import 'components/input';
@import 'components/chip';
@import 'components/filter';
@import 'components/utilbox';
@import 'components/modal';
@import 'components/payment';
@import 'components/topHistoryList';
@import 'pages/user';
@import 'pages/payment-details';
@import 'pages/setup';
@import 'pages/setup-new';
@import 'pages/new';
@import 'pages/new-sender';
@import 'pages/new-recipient';
@import 'pages/new-payment-option';
@import 'pages/new-layout';
@import 'pages/new-send';
@import 'pages/customer';
@import 'pages/customer-new';
@import 'pages/receivelist';
@import 'pages/sendlist';
@import 'pages/document-detail';
@import 'pages/noti';
@import 'pages/history';
@import 'pages/preview';
@import 'pages/cost-handling-details';
@import 'pages/login';
@import 'pages/ask';
@import 'pages/ask-sidebar';
@import 'pages/register';
@import 'pages/stastastics';
@import 'pages/findpass';
@import 'pages/email-verify';
@import 'pages/main';

@import 'components/header';
@import 'pages/tradeHistory';
@import 'pages/join';
@media (max-width: $mobile-max-width) {}

// 기본 background-color 설정
// ––––––––––––––––––––––––––––––––––––––––––––––––––
html { background-color: $oc-gray-1; }
@media (max-width: $mobile-max-width) {
  html { background-color: white; }
}

// 컴포넌트 기본 형식
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.component__header {
  padding: 20px 30px;
  border-bottom: 1px solid $border;
  .title { font-size: 19px; line-height: 1.45em; }
}
.component__content { padding: 30px; }
@media (max-width: $mobile-max-width) {
  .component__header { padding: 20px; }
  .component__content { padding: 20px; }
}

// PC/모바일에서만 보이는 컴포넌트
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.show-pc { display: auto !important; }
.show-mobile { display: none !important; }
@media (max-width: $mobile-max-width) {
  .show-pc { display: none !important; }
  .show-mobile { display: block !important; }
}

