.estimate {
  background: #fff;
  padding: 60px 70px;
  border-radius: 5px;
  min-width: 1000px;
  .estimate__bankInfo {
    text-align: center;
    margin-top: 60px;
    .btn {
      color: #fff;
      line-height: 60px;
      width: 400px;
      border-radius: 5px;
      background: #8967bc;
      display: block;
      margin: 0 auto;
      font-size: 24px;
      padding: 0;
      transition: all 0.3s;
      &:hover {
        background: #6a499b;
      }
    }
  }
  .estimate__header {
    position: relative;
    .estimate__logo {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 120px;
      max-height: 120px;
      overflow: hidden;
      z-index: 10;
    }
    .estimate__marks {
      position: absolute;
      right: 0;
      top: 150px;
      display: flex;
      flex-wrap: wrap;
      z-index: 1;
      .mark {
        text-align: center;
        transform: rotate(-10deg);
        margin-left: 10px;
        p {
          color: #8967bc;
          font-size: 18px;
          line-height: 1em;
          margin-top: 5px;
          font-weight: 900;
        }
      }
    }
  }
  .estimate__header-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 600px;
    flex-wrap: wrap;
    border-bottom: 1px solid #ced4da;
    h1 {
      font-size: 50px;
    }
    .estimate__date {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span {
        margin-left: 24px;
      }
    }
  }
  .estimate__header-bottom {
    margin-top: 5px;
    p {
      line-height: 27px;
      font-size: 18px;
    }
  }
  .depth {
    padding-left: 20px;
  }
  .js-innerToggle {
    display: none;
    &.show {
      display: block;
    }
  }

  .estimate__userInfo {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    .estimate__user-sign {
      position: absolute;
      left: 180px;
      top: -20px;
      z-index: 20;
    }
    .estimate__user {
      flex: 1;
      line-height: 20px;
      font-size: 14px;
      .estimate__number {
        .codeForm {
          display: inline-flex;
          width: 200px;
          input {
            border: none;
            height: 20px;
            font-size: 14px;
            width: 160px;
          }
          button {
            border: none;
            flex: none;
            display: inline-block;
            background: #909ca8;
            color: #fff;
            border-radius: 3px;
            width: 40px;
            height: 20px;
            cursor: pointer;
            font-size: 12px;
          }
        }
      }
      h2 {
        font-size: 18px;
      }
      h3 {
        margin-top: 5px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
      }
      .estimate__user-more {
        border: none;
        font-size: 14px;
        color: #909ca8;
        margin-left: 25px;
        cursor: pointer;
        position: relative;
        padding-right: 0.75em;
        background: none;
        &:after {
          content: "";
          width: 5px;
          height: 5px;
          border: 1px solid #909ca8;
          display: block;
          position: absolute;
          right: 0;
          top: 4px;
          transform: rotate(45deg);
          border-width: 0px 1px 1px 0;
        }
      }
      .row {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        h4 {
          font-size: 14px;
          line-height: 20px;
          margin-right: 20px;
          text-align: right;
          width: 50px;
        }
      }
    }
  }

  .estimate__price {
    margin-top: 70px;
    .table {
      min-width: 860px;
      overflow-x: auto;
    }
    .estimate__price-col1 {
      width: 100px;
    }
    .estimate__price-col2 {
    }
    .estimate__price-col3 {
      width: 120px;
    }
    .estimate__price-col4 {
      width: 120px;
    }
    .row {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
      .table__title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
      }
      .table {
        table {
          border-top: 1px solid #ced4da;
          width: 100%;
        }
        th,
        td {
          font-size: 16px;
          line-height: 1.25em;
          padding: 1em;
          &.center {
            text-align: center;
          }
          &.left {
            text-align: left;
          }
          &.right {
            text-align: right;
          }
        }
        th {
        }
        tbody td {
          border-top: 1px solid #ced4da;
          height: 65px;
          vertical-align: middle;
        }
        tfoot td {
          border-top: 1px solid #ced4da;
          ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
          li {
            margin-left: 40px;
          }
          strong {
            color: #909ca8;
            margin-right: 5px;
            display: inline-block;
          }
        }
      }
    }
  }

  .estimate__price-total {
    margin-top: 80px;
    display: block;
    align-items: flex-start;
    justify-content: flex-end;
    ul {
      width: 380px;
      margin-left: auto;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 5px;
      &:last-child {
        padding-top: 5px;
        margin-bottom: 0;
        border-top: 1px solid #ced4da;
      }
      strong {
        width: 120px;
        text-align: right;
        white-space: nowrap;
      }
    }
  }
  .estimate__check {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    span {
      width: 16px;
      height: 16px;
      border-radius: 3px;
      margin-left: 5px;
      border: 2px solid #343a40;
    }
    input:checked + span {
      background: #343a40;
    }
  }
  .estimate__info {
    margin-top: 70px;
    .row {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
      &.row--short {
        width: 530px;
      }
    }
    .estimate__info-title {
      border-bottom: 1px solid #ced4da;
      padding: 0 30px;
      display: flex;
      align-items: baseline;
      h2 {
        font-size: 16px;
        line-height: 24px;
        margin-right: auto;
      }
      .check-date {
        color: #fa5956;
        font-size: 12px;
      }
      .estimate__check {
        margin-left: 20px;
      }
    }
    p {
      padding: 0 60px;
      line-height: 24px;
      margin-top: 5px;
    }
  }
}
