.mobileGnb {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7000;
  display: none;
  @media screen and (max-width: 768px) {
    z-index: 5000;
  }
  &.js-active {
    display: block;
  }
  .mobileGnb__bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .mobileGnb__contentbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 650px;
    @media screen and (max-width: 768px) {
      min-height: 100%;
      height: auto;
    }
  }
  .mobileGnb__content {
    position: absolute;
    right: 0px;
    top: 0;
    width: 360px;
    height: calc(100% - 50px);
    max-height: 900px;
    background: #fff;
    z-index: 2;
    overflow: auto;
    @media screen and (max-width: 768px) {
      right: auto;
      left: 0;
      top: 50px;
      width: 250px;
    }
    .utilbox--popup {
      height: 215px;
      padding-top: 20px;
      margin-top: auto;
      display: block;
      flex: none;
      .utilbox__info p {
        width: 90%;
        max-width: 290px;
        margin: 0 auto 20px;
      }
    }
  }
  .mobileGnb__header {
    text-align: right;
    padding: 30px 30px 0;
    @media screen and (max-width: 768px) {
      display: none;
    }
    .mobileGnb__close {
      width: 32px;
      height: 32px;
      background: #ccc;
      border: none;
      text-indent: -9999px;
      overflow: hidden;
      cursor: pointer;
    }
  }
  .mobileGnb__historylink {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
    a {
      display: flex;
      height: 40px;
      align-items: center;
      justify-content: flex-start;
      padding-left: 35px;
      color: #fff;
      background: #22b8cf;
      img {
        margin-right: 15px;
      }
      span {
        font-size: 14px;
      }
    }
  }
  .mobileGnb__links {
    padding: 0 10px;
    width: 100%;
    .rows {
      border-bottom: 1px dashed #22b8cf;
      padding: 15px 0;
      &:last-child {
        border: none;
      }
      &.rows--mobile {
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
    a {
      height: 60px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      transition: all 0.3s;
      padding: 0 40px;
      font-size: 18px;
      color: #343a40;
      @media screen and (max-width: 768px) {
        font-size: 14px;
        height: 45px;
        padding: 0 20px;
      }
      .icon {
        width: 45px;
        text-align: left;
        @media screen and (max-width: 768px) {
          width: 35px;
          img {
            max-height: 20px;
          }
        }
      }
      &:hover {
        background: #e2fbff;
      }
    }
  }
}
