.payment {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

  .payment__item{
    margin-right: 15px;
    padding: 30px;
    border-radius: 3px;
    overflow: hidden;
    background:#fff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    &:last-child {
      margin-right: 0;
    }
    *{
      color:#909ca8;
      transition: all .3s;
    }
    &:hover:not(.disabled) {
      *{
        color:#6a499b;
      }
      .icon {
        border-color:#6a499b;
        &:after {
          border-color:#6a499b;
        }
      }
    }
    &.disabled {
      background:#E5E5E5
    }

    h3 {
      font-size: 24px;
      line-height: 26px;
      color:#343a40;
    }
    h4 {
      margin:auto 0;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      color:#343a40;
    }
    h5 {
      font-size: 20px;
      line-height: 30px;
      color:#909ca8;
    }
    .icon {
      transition: all .3s;
      width: 25px;
      height: 25px;
      border: 1px solid #909ca8;
      border-radius: 50%;
      flex: none;
      margin-bottom: 15px;
      position:relative;
      &:after {
        transition: all .3s;
        position:absolute;
        left:7px;
        top: 3px;
        content:'';
        display: block;
        width: 6px;
        height: 12px;
        border: 2px solid #909ca8;
        transform: rotate(45deg);
        border-width: 0 2px 2px 0 ;
      }
    }
    p {
      margin-top: 15px;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color:#909ca8;
      text-align: center;
      span {
        color:#6a499b
      }
    }

    .img {
      margin-top: auto;
    }
    .payment__btn {
      width: 210px;
      cursor: pointer;
      border: none;
      line-height: 40px;
      color:#fff !important;
      border-radius: 5px;
      background:#8967bc;
      text-align: center;
      font-size: 14px;
      margin-top: 24px;

      &:disabled {
        background:#ced4da;
      }
    }
  }
}

/* 결제완료 */
.payment-result {
  margin-top: 20px;
  padding: 50px;
  background:#fff;
  border-radius: 5px;

  .payment-result__title {
    font-size: 35px;
    line-height: 52px;
    text-align: center;
  }
  .payment-reulst__desc {
    font-size: 20px;
    line-height: 30px;
    margin-top: 5px;
    color:#909ca8;
    text-align: center;
  }

  .payment-result__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

    .info {
      margin-left: 65px;
      li {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: wrap;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        strong {
          font-size: 16px;
          color:#909ca8;
          width: 80px;
          text-align: right;
          margin-right: 20px;
        }
        p {
          font-size: 16px;
          color:#909ca8;
          margin: 0;
          line-height: 1em;
          font-weight: 400;
        }
        h2 {
          font-size: 24px;
          color:#343a40;
          line-height: 1em;
        }
      }
    }
  }

  .payment-result__btnbox {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
      line-height: 50px;
      text-align: center;
      width: 250px;
      color:#22b8cf;
      border: 1px solid #22b8cf;
      border-radius: 5px;
      margin:0 10px;
      font-size: 18px;
      transition: all .3s;
      &:hover {
        background:#e2fbff;
      }
      &.fill {
        background:#22b8cf;
        color:#fff;
        transition: all .3s;
        &:hover {
          background:#15AABF;
        }
      }
    }
  }
}